<header>
  <div class="container">
    <a routerLink="/"><img src="assets/logo-hotel.png" height="100"/></a>
    <nav>
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/rooms">Habitaciones</a></li>
        <li><a routerLink="/about">Nuestro Hotel</a></li>
        <li><a routerLink="/contact">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>