<div class="container">
  <div class="datos">
      <h2>Contacto</h2>
      <p><img src="assets/location.png" width="16" height="16"/> <a> &#32; Av. Condell 123 , Providencia, Santiago, Chile.</a></p>
      <p><img src="assets/phone.png" width="16" height="16"/> <a> &#32; +56 91234 1234</a></p>
      <p><img src="assets/mail.png" width="16" height="16"/> <a> &#32; contacto@hotelboutiquelf.cl</a></p> 
  </div>
  <div class="redes">
      <h2>Redes</h2>
      <p><img src="assets/facebook.png" width="16" height="16"/> <a> &#32; Hotel Boutique LF</a></p>
      <p><img src="assets/twitter.png" width="16" height="16"/> <a> &#32; HotelBoutiqueLF</a></p>
      <p><img src="assets/instagram.png" width="16" height="16"/> <a> &#32; HotelBoutiqueLF</a></p>
  </div>
</div>
