@import 'src/app/styles/bassic.scss';
.container{
    display: flex;
    flex-direction: row;
    
    .datos{
        margin-right: 2rem;
        @include formatoCeleste;
    }
    .redes{
        @include formatoCeleste;
    }
}