@import 'src/app/styles/bassic.scss';
.container{
    display: flex;
    flex-direction: column;
    .banner{
        display:flex;
        flex-direction:row ;
        .text-banner{
            @include formatoCeleste;
            margin-right: 2rem;
        }
        .images{

            &:hover {
                cursor: pointer;
                opacity: 0.7;
                transition:all .3s ease-in-out;
            }
        }
    }
    .content{
        margin-top: 2rem;
        .rooms{
            .rooms-title{
                @include formatoCeleste;
                margin-bottom: 2rem;
            }
            .images{
                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                    transition:all .3s ease-in-out;
                }
            }
        }
    }
    
}