<div class="container">
  <div class="banner">
    <div class="text-banner">
      <h2>Un Auténtico Hotel Boutique</h2>
      Con ambientes de diseño único y atención personalizada.
    </div>
    <div class="images" routerLink="/about">
      <img src="assets/stairs.jpg" width="100%" height="100%" />
    </div>
  </div>
  <!-- fin banner -->
  <div class="content">
      <div class="rooms">
        <div class="rooms-title">
          <h2>Conoce nuestras Habitaciones y Servicios</h2>
          Comodidad y buen gusto en cada rincón.
        </div>
        <div class="images" routerLink="/rooms">
          <img src="assets/rooms-banner.jpg" width="100%" height="100%"/>
        </div>
      </div>
    </div>
    <!-- fin rooms -->
</div>