@import 'src/app/styles/bassic.scss';
.container{
    display: flex;
    flex-direction: column;
    .banner{
        @include formatoCeleste;
        padding: 0rem;
        margin-bottom: 2rem;
    }
    div.content{
        @include formatoCeleste;
        .title{
            justify-content: center;
            text-align: center;
        }
    }
    
}