<div class="container">
  <div class="banner">
    <img src="assets/decoracion-hotel-pasillo2.png" height="100%" width="100%"/>
  </div>
  <div class="content">
    <div class="title">
      <h2>Nuestro Hotel</h2>
    </div>
    <div class="lore">
        <p>
          Estilo, diseño y calidez en todos los ambientes. El Hotel Boutique LF cuenta con 10 habitaciones, 
          en 2 categorías, ofreciendo espacios diseñados para todos los gustos.
          Camas confortables, equipamiento de última tecnología, decoración, escritorios, frigobar, 
          wi-fi, caja de seguridad digital y la mayor comodidad creada a medida para cada huésped.
        </p>
        <p>
          El Hotel Boutique LF rescata una amplia y bien elegida decoración en cada una de sus habitaciones y salas comunes,
          haciendo énfasis en la clase y el buen gusto. Rindiendo un justo homenaje a esta casona en la que habitó
          la más fina aristocracia.
        </p> 
    </div>
  </div>
</div>
