<div class="container">
  <div class="form">
    <h2>Datos de la Reserva</h2>
    <form #reserveForm = "ngForm" (ngSubmit)="addReserve
    (reserveForm)">

      <input type="hidden" name='_id' #_id="ngModel"
      [(ngModel)]="reserveService.selectedReserve._id">

      <input class="inData" type="text" name="name" #name="ngModel" 
      [(ngModel)]="reserveService.selectedReserve.name" 
      placeholder="Su nombre"> <br>

      <input class="inData" type="text" name="suite" #suite="ngModel" 
      [(ngModel)]="reserveService.selectedReserve.suite" 
      placeholder="standar o superior"> <br>

      <input class="inData" type="text" name="dateArrive" #dateArrive="ngModel" 
      [(ngModel)]="reserveService.selectedReserve.dateArrive" 
      placeholder="Fecha de Llegada dd/mm/aaaa"> <br>

      <input class="inData" type="text" name="dateLeave" #dateLeave="ngModel" 
      [(ngModel)]="reserveService.selectedReserve.dateLeave" 
      placeholder="Fecha de Salida dd/mm/aaaa"> <br>
      <div class="buttons">
        <button>Guardar</button>
        <button (click)="resetForm(reserveForm)">Limpiar</button>
      </div>
    </form>
  </div>
  <div class="reservesList" id="oculto" style="visibility:hidden">
    <table class="tableData">
      <thead class="thead">
        <th class="th">Nombre</th>
        <th class="th">Suite</th>
        <th class="th">Fecha de Llegada</th>
        <th class="th">Fecha de Salida</th>
        <th class="th">Operaciones</th>
      </thead>
      <tbody class="tbody">
        <tr class="tr" *ngFor="let reserve of reserveService.reserves">
          <td class="td">{{ reserve.name }}</td>
          <td class="td">{{ reserve.suite }}</td>
          <td class="td">{{ reserve.dateArrive }}</td>
          <td class="td">{{ reserve.dateLeave }}</td>
          <td class="td">
            <button  class="btnReserve" (click)="editReserve(reserve)">Editar</button>
            <button  class="btnDelete" (click)="deleteReserve(reserve._id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <input type="button" value="Administrar" class="administrar" 
 onClick="document.getElementById('oculto').style.visibility='visible'">
</div>