@import 'src/app/styles/bassic.scss';
.container{
    display: flex;
    flex-direction: column;
    .form{
        @include formatoCeleste;
        text-align: center;

        .inData{
            background-color: white;
            border-radius: 0.2rem;
            margin: 0.1rem;
            width: 15rem;
            text-align: center;
        }
        
    }
    .reservesList{
        margin-top: 2rem;
        @include formatoCeleste;

        .tableData{
            .thead{
                .th{
                    background-color: rgb(126, 170, 233);
                }
            }
            .tbody{
                .tr{
                    &:hover {
                        background-color: rgb(101, 118, 141);
                    }
                    .td{
                        
                        .btnReserve{
                            background-color: rgb(57, 128, 235);
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        .btnDelete{
                            background-color: rgb(223, 88, 55);
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

    .administrar{
        width: 6rem;
    }
}