<div class="container">
  <div class="title">
    <h2>Habitaciones</h2>
    Tenemos una especial para ti, chequea la información posicionándote en las imagenes ;)
  </div>
  <!-- Fin titulo -->
  <div class="images">
    <div class="standar" style="background-image: url('assets/rooms/standar.png');">
      <div class="info">
        <br>
        <h2>Suite Standar</h2>
        Habitación de 18 m2, ofreciendo modernas comodidades. Toques de buen gusto, maderas nobles, 
        diferentes gamas de colores y luces suaves, creando un ambiente acogedor y cálido, que invita a relajarse luego 
        de un largo día de reuniones o explorar la ciudad.
      </div>
    </div>
    <div class="superior" style="background-image: url('assets/rooms/superior.png');">
      <div class="info">
          <br>
          <h2>Suite Superior</h2>
          Habitación de 22 m2 con una decoración clásica que rescata el valor de la madera, de los muebles antiguos 
          dispuestos en una fina ambientación de tonos pasteles iluminados con tenues luces que inducen a la tranquilidad 
          y al descanso.
      </div>
    </div>
  </div> 
  <!-- Fin imagenes -->
  <div class="reservas">
    <h2>¿Ya te convencimos?</h2>
    <p>No busques más, lo tenemos todo para ti!</p>
    <button class="reserve" routerLink="/booking"> Reserva ya</button>
  </div>
</div>