@import 'src/app/styles/bassic.scss';
.container{
    display: flex;
    flex-direction: column;
    .title{
        @include formatoCeleste;
        margin-bottom: 2rem;
    }
    .images{
        display: flex;
        flex-direction: row;
        .standar{
            height: 365px;
            width: 50%;
            @include formatoCeleste;
            padding: 0px;
            margin-right: 2rem;

            .info{
                position: inherit;
                height: 365px;
                width: 100%;
                background-color: rgba(31, 31, 31, 0.9);
                opacity: 0;
                margin: 0px;
                text-align: center;
                color: white;
                

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                    transition:all .3s ease-in-out;
                }
            }
            
        }
        .superior{
            height: 365px;
            width: 50%;
            @include formatoCeleste;
            padding: 0px;

            .info{
                position: inherit;
                height: 365px;
                width: 100%;
                background-color: rgba(31, 31, 31, 0.9);
                opacity: 0;
                margin: 0px;
                text-align: center;
                color: white;

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                    transition:all .3s ease-in-out;
                }
            }
        }
    }
    .reservas{
        margin-top: 2rem;
        @include formatoCeleste;

        .reserve{
            background-color: rgb(81, 145, 235);
            color: white;
            height: 3rem;
            width: 6rem;
            border-radius: 0.5rem;

            &:hover {
                cursor: pointer;
                background-color: rgb(9, 108, 247);
                transition:all .3s ease-in-out;
            }
        }
    }
}